h1 {
    color:whitesmoke;
    font-family: Verdana;
    
    font-size: 50px;
   

}
h2 {
    color:rgb(43, 205, 226);
    
    font-size: 26px;
    

}
p {
    color:whitesmoke;
   
    font-size: 14px;
    font-style: verdana;
    text-decoration: blueviolet;
}
img {
    width: 450px;


}
body{
    background-color:black;

}
.a{
    
    font-size: 24px;
    
}
.image{
    
    position:absolute;
    Top:80px;
    bottom:80;
    right:100px;
    
}
a{
    border: solid 1px yellow;
    display:inline-flex ;
    font-size:30px;
}
.b{
    font-size:26px;
    color:white;
    
}
.navbar a{
    font-size: 20px;
    display:bold;
    letter-spacing:1px;
    color:whitesmoke;
    font-weight:bold;
    text-align: right;
    
    
}
nav a:hover{
    color:red;
}
.navbar1 {
text-align:left;
text-decoration: none;
font-size: 14px;
padding:14px;
margin-left: 35px;

}
*{
    margin: 1px;;
    padding:17px;

}
span{
    color:red;
}

